    {{#if credentials.username}}
    {{>header_logged_in}}
      {{else}}
<header class="header">
    <form class="header__form" action="/logged-in">
  <img class="header__logo" src="./assets/edit-tools.png" alt="pen and brush logo image">
  <input class="button" type="submit"  value="enviar">
  </form>
</header>
  {{/if}}
