<header class="header">
    <form class="header__form" action="/logged-in">
  <img class="header__logo" src="./assets/edit-tools.png" alt="pen and brush logo image">
  <input class="button" type="submit"  value="enviar">
    </form>
    {{#if username}}
      <p> Hello {{username}} </p>
      <img class="header__profile-pic" src= {{avatarUrl}} />
    {{/if}}
</header>
